a.download{
	display:block;
	background-color:var(--theme-color,#0074d9);;
	color:#ffffff;
	width:75%;
	margin:auto;
	padding: 1em;
	text-align: center;
	font-size: x-large;
	border-radius: 50px;
	text-decoration: none;
}

a:hover.download{
	color: inherit;
    opacity: .8;
	color:#ffffff;
}

a[target=_blank][rel=noopener]:after {
	margin: 0 3px;
	font-family: FontAwesome;
	vertical-align: middle;
	content: '\f08e';
  }

.icon{
	width:20px !important;
	height:20px !important;
}

iframe[src^="https://www.youtube.com/"]{
	width:560px !important;
	min-width: 560px !important;
}

iframe[src^="https://ext.nicovideo.jp/"]{
	width:560px !important;
	height:200px !important;
	min-width: 560px !important;
}

iframe[src^="https://ext.seiga"]{
	width:312px !important;
	height:176px !important;
	min-width: 312px !important;
	border:solid 1px #888;
}