a.download{
	display:block;
	background-color:var(--theme-color,#0074d9);;
	color:#ffffff;
	width:75%;
	margin:auto;
	padding: 1em;
	text-align: center;
	font-size: x-large;
	border-radius: 50px;
	text-decoration: none;
}

a:hover.download{
	color: inherit;
    opacity: .8;
	color:#ffffff;
}

a[target=_blank]:after {
	margin: 0 3px;
	font-family: FontAwesome;
	vertical-align: middle;
	content: '\f08e';
  }

.icon{
	width:20px !important;
	height:20px !important;
}